* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

h1, h2, h3, h4, p {
    padding: 12px 0;
}

ul {
    padding-left: 30px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    padding: 20px;
    background: #fbfbfb;
}

p {
    font-size: 16px;
    line-height: 24px;
}

p.warning, p.info {
    border: 1px solid #666;
    padding: 10px;
}

p.warning {
    background: #f99;
}

p.info {
    background: #ccf;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 95%;
    padding: 16px;
    background: white;
    overflow-y: scroll;
    border-right: 3px double #999;
}

nav li {
    padding: 1px 0;
    font-size: 15px;
}

nav li strong {
    font-weight: normal;
}

#content {
    padding-left: 240px;
    max-width: 600px;
}

#content > h1 {
    text-indent: -9999px;
    background: url('../img/logo.png') no-repeat;
    width: 322px;
    height: 79px;
}

pre {
    border-left: 5px solid #999;
    background: white;
}

h3 {
    font-size: 24px;
    color: #150683;
    margin-top: 20px;
}

article {
    margin: 20px 0;
}

article h1 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    color: #666;
}

article h1 strong {
    color: red;
}

article h2 {
    font-family: monospace;
    font-size: 14px;
    background: #eee;
    padding: 10px;
}

p em {
    color: #150683;
}

p code {
    background: white;
    border: 1px solid #ccc;
    padding: 1px;
}

ul li {
    line-height: 150%;
}

small {
    background: #ccc;
    color: white;
    padding: 3px;
}