/* Make spans with attribute data-tooltip into blue tooltips using advanced CSS */
/* Based on http://www.frequency-decoder.com/demo/css-tooltips/ */
/* Modified by Joshua Weinstein (github:josher19), Dec 2012 */

/* Make tooltip "links" have a different pointer (as the tooltip uses the "help" cursor by default) */      
code a[data-tooltip]
    {
    cursor:pointer !important;
    }
/* Styles for elements having a data-tooltip attribute - using the star selector is processor intensive
 so you may wish to change this to list a known, limited set of tags instead */
code span[data-tooltip]
    {
    /* Relativly position the tooltip to enable us to position:absolute 
       the generated content */
    position:relative;        
    /* Links inherit the !important cursor rule from above */
    cursor:help;
    /* Moz requires the text-decoration here (as it won't allow the use of
      text-decoration:none on generated content) which is why I use the bottom 
      border to display a more accessible underline */
    text-decoration:none;   
    border-bottom:1px dotted #aaa; 
    /* Remove the styles for IE7 and below - could be passed using conditional comments */
    *text-decoration:inherit;   
    *border-bottom-width:inherit;
    *border-bottom-style:inherit;        
    *cursor:inherit;
    *position:inherit;            
    }
/* Default :before + :after values */     
code span[data-tooltip]:after,
code span[data-tooltip]:before
    {
    content:"";
    /* Don't show tooltip by default */
    opacity:0;  
    /* Set a high z-index */
    z-index:999;
    
    /* Animations won't (yet) work on pseudo elements - shame really as this should fade the tooltip in 
       after one second - but I'll leave the rules for posterity */
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s;
    -moz-transition-delay: 0.2s;
    
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0.2s;
    
    -o-transition-property: opacity;
    -o-transition-duration: 1s;
    -o-transition-delay: 0.2s;
    
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0.2s;  
    
    /* -moz won't understand the text-decoration here but inherits the parent value of "none" successfully */
    text-decoration:none !important;
    outline:none;
    }
/* Tooltip arrow - shown on hover or focus */
code span[data-tooltip]:hover:before,
code span[data-tooltip]:focus:before
    {
    /* Slightly opaque arrow */
    opacity:0.94;
    outline:none;
    content:"";  
    display:block;        
    position:absolute;
    top:20px;
    left:50%;
    margin:0 0 0 -5px;
    width:0;
    height:0;
    line-height:0px; 
    font-size:0px;       
    /* This sets the tooptip pointer color */
    border-bottom:5px solid #33acfc;
    border-left:5px solid transparent;
    border-right:5px solid transparent;        
    border-top:transparent;
    /* Border gradient .. fixed for Chrome browser */        
    -webkit-border-image:-webkit-gradient(linear, from(#33ccff), to(#33acfc));      

    }
/* Tooltip body - shown on hover or focus */
code span[data-tooltip]:hover:after,
code span[data-tooltip]:focus:after
    {
    /* Slightly opaque tooltip */
    opacity:0.94;
    /* Set display to block (or inline-block) */
    display:block;
    /* Use the data-tooltip attribute to set the content*/
    content:attr(data-tooltip);
    /* Position the tooltip body under the arrow and in the middle of the text */
    position:absolute;
    top:25px;
    left:50%;
    margin:0 0 0 -150px;
    /* Set the width */
    width:290px;
    /* Pad */
    padding:5px;
    /* Style the tooltip */
    line-height:18px;
    /* min-height */
    min-height:18px; 
    /* Set font styles */  
    color:#fcfcfc;
    font-size:16px;        
    font-weight:normal;
    font-family:helvetica neue, calibri, verdana, arial, sans-serif;
    /* Fallback background color */
    background:#3198dd; 
    text-align:center;        
    outline:none;        
    /* Moz doesn't recognise the following... */
    text-decoration:none !important;                  
    /* Background gradient */        
    background:-webkit-gradient(linear, left top, left bottom, from(#33acfc), to(#3198dd));
    background:-moz-linear-gradient(top,#33acfc,#3198dd);         
    /* Round the corners */
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;        
    /* Add a drop shadow */
    -moz-box-shadow:2px 2px 4px #ccc;
    -webkit-box-shadow:2px 2px 4px #ccc;
    box-shadow:2px 2px 4px #ccc;        
    /* Add a Text shadow */
    text-shadow:#2187c8 0 1px 0px; 
    }  
